openapi: 3.1.0
info:
  title: ZK Proofs Service API
  description: Zero-Knowledge Proofs API for CFZT system
  version: 1.0.0
  contact:
    name: API Support
    email: api@cfzt.io

servers:
  - url: https://api.cfzt.io
    description: Production server
  - url: https://staging-api.cfzt.io
    description: Staging server
  - url: http://localhost:8089
    description: Local development server

paths:
  /api/v1/zk/generate:
    post:
      summary: Generate ZK proof
      description: Generate zero-knowledge proof
      operationId: generateProof
      tags:
        - Proof Generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateProofRequest'
      responses:
        '200':
          description: Proof generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateProofResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/zk/verify:
    post:
      summary: Verify ZK proof
      description: Verify zero-knowledge proof
      operationId: verifyProof
      tags:
        - Proof Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyProofRequest'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyProofResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/zk/face-proof:
    post:
      summary: Generate face proof
      description: Generate proof for face matching
      operationId: generateFaceProof
      tags:
        - Face Proof
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FaceProofRequest'
      responses:
        '200':
          description: Face proof generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FaceProofResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/zk/liveness-proof:
    post:
      summary: Generate liveness proof
      description: Generate proof for liveness detection
      operationId: generateLivenessProof
      tags:
        - Liveness Proof
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LivenessProofRequest'
      responses:
        '200':
          description: Liveness proof generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LivenessProofResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/zk/aggregate:
    post:
      summary: Aggregate proofs
      description: Aggregate multiple proofs into one
      operationId: aggregateProofs
      tags:
        - Proof Aggregation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregateProofsRequest'
      responses:
        '200':
          description: Proofs aggregated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateProofsResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    GenerateProofRequest:
      type: object
      required:
        - circuit
        - witness
      properties:
        circuit:
          type: string
          enum:
            - face_matching
            - liveness_check
            - age_verification
            - membership_proof
          description: Circuit type
        witness:
          type: object
          description: Private witness data
        public_inputs:
          type: object
          description: Public inputs

    GenerateProofResponse:
      type: object
      properties:
        proof:
          type: string
          format: byte
          description: Base64 encoded proof
        public_outputs:
          type: object
          description: Public outputs
        proving_time_ms:
          type: integer
          description: Proving time in milliseconds
        circuit:
          type: string
          description: Circuit used

    VerifyProofRequest:
      type: object
      required:
        - circuit
        - proof
        - public_inputs
      properties:
        circuit:
          type: string
          enum:
            - face_matching
            - liveness_check
            - age_verification
            - membership_proof
          description: Circuit type
        proof:
          type: string
          format: byte
          description: Base64 encoded proof
        public_inputs:
          type: object
          description: Public inputs

    VerifyProofResponse:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether proof is valid
        verification_time_ms:
          type: integer
          description: Verification time in milliseconds
        circuit:
          type: string
          description: Circuit used

    FaceProofRequest:
      type: object
      required:
        - embedding
        - stored_hash
      properties:
        embedding:
          type: array
          items:
            type: number
            format: float
          description: Face embedding (private)
        stored_hash:
          type: string
          description: Stored embedding hash (public)
        threshold:
          type: number
          format: float
          description: Similarity threshold (public)

    FaceProofResponse:
      type: object
      properties:
        proof:
          type: string
          format: byte
          description: Base64 encoded proof
        commitment:
          type: string
          description: Proof commitment
        proving_time_ms:
          type: integer
          description: Proving time in milliseconds

    LivenessProofRequest:
      type: object
      required:
        - image_features
        - liveness_threshold
      properties:
        image_features:
          type: array
          items:
            type: number
            format: float
          description: Image features (private)
        liveness_threshold:
          type: number
          format: float
          description: Liveness threshold (public)
        model_hash:
          type: string
          description: Model hash (public)

    LivenessProofResponse:
      type: object
      properties:
        proof:
          type: string
          format: byte
          description: Base64 encoded proof
        commitment:
          type: string
          description: Proof commitment
        proving_time_ms:
          type: integer
          description: Proving time in milliseconds

    AggregateProofsRequest:
      type: object
      required:
        - proofs
      properties:
        proofs:
          type: array
          items:
            $ref: '#/components/schemas/Proof'
          description: Proofs to aggregate

    AggregateProofsResponse:
      type: object
      properties:
        aggregated_proof:
          type: string
          format: byte
          description: Base64 encoded aggregated proof
        num_proofs:
          type: integer
          description: Number of proofs aggregated
        aggregation_time_ms:
          type: integer
          description: Aggregation time in milliseconds

    Proof:
      type: object
      properties:
        circuit:
          type: string
          description: Circuit type
        proof:
          type: string
          format: byte
          description: Base64 encoded proof
        public_inputs:
          type: object
          description: Public inputs

    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        details:
          type: object
          description: Error details
